<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Pipe API Demo</title>
      <meta name="Holomb" content="test assignment">
   </head>
   <body>
      <h3>Pipe API Documentation</h3>
      <h5>by Volodymyr Holomb (as a test assignment)</h5>
      <p>The pipe API receives a JSON request containing dates within range from 2015-01-01 to 2020-01-01:</p>
      <ul>
         <li>"from" - start of the period for prediction</li>
         <li>"to" - end of the period for prediction</li>
      </ul>
      <p>The pipe API returns a JSON response containing:</p>
      <ul>
         <li>"jalan":"predictions" for each day within requested period</li>
         <li>"rakuten":"predictions" for each day within requested period</li>
      </ul>
   </body>
</html>